@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#tool-bar {
	vertical-align: center;
    position: relative;    
	margin: 5px;
	min-height: 50px;
	background-color: #8ACDF1;
	white-space: nowrap;
  	overflow: hidden;
  	display: flex;
}

.toolbar-live-users {
	width: 30%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	vertical-align: center;
	margin-left: 5px;
}

.user-circle {
	border-radius: 50%;
	/* behavior: url(PIE.htc); */

	width: 38px;
	height: 38px;
	padding-top: 2px;

	background: #FFFFFF;
	border: 2px solid #6FCF97;
	color: #6FCF97;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	vertical-align: center;

	display: inline-block;
	margin-right: 5px;
}

.toolbar-trip-title {
	width: 40%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	justify-content: center;

	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}


.toggle-options {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	vertical-align: center;
	position: absolute;
	right: 0;
	top: 10px;
}

.toolbar-download{
	color: #6FCF97;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFFFFF;
	border: 2px solid #6FCF97;
	text-align: center;
	margin-right: 5px;
}

.toolbar-download:hover {
	cursor: pointer;
	box-shadow: 0 0 10px grey;
	text-align: center;
}

.toolbar-click {
	color: #6FCF97;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFFFFF;
	border: 2px solid #6FCF97;
	text-align: center;
	margin-right: 5px;
}

.toolbar-click:hover {
	cursor: pointer;
	box-shadow: 0 0 10px grey;
	text-align: center;
}

.heart {
	font-weight: bold;
	margin-right: 10px;
	color: #FFFFFF;
	margin-left: 2px;
}

.toolbar-favorite:hover {
	cursor: pointer;
	text-shadow: 0 0 10px grey;
}

.edit-title {
	color: #8ACDF1;
	font-family: 'Source Sans Pro';
	font-size: 22px;
	margin-bottom: 10px;
}