@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#tool-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 5px;
	min-height: 50px;
	background-color: #66A9CD;
}

#tool-bar-left {
	justify-content: flex-start;
	display: flex;
	align-items: center;
	width: 30%;
}

.tool-bar-center {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
}

#tool-bar-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
}

.tool-bar-left-flex-item {
	padding-left: 20px;
	text-align: center;
}

.tool-bar-right-flex-item {
	padding-right: 20px;
	text-align: center;
	vertical-align: middle;
}

.tool-bar-header-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
}

.tool-bar-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
}

.toolbar-trip-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	color: #FFFFFF;
}

.toolbar_click {
	color: white;
	padding-right: 10px;
}

.toolbar_click:hover {
	cursor: pointer;
	text-shadow: 0 0 10px grey;
}

.toggle_options {
	display: flex;
	align-items: center;
}

.toolbar_items {
	display: flex;
	justify-content: space-between;
	width: 55%;
}

.heart {
	font-weight: bold;
	margin-right: 10px;
}
