planit_server/_build
planit_server/deps
planit_server/node_modules

planit_server/config/dev.exs

# dependencies
planit_client/node_modules

# testing
planit_client/coverage

# production
planit_client/build

# misc
planit_client/.DS_Store
planit_client/.env.local
planit_client/.env.development.local
planit_client/.env.test.local
planit_client/.env.production.local


planit_client/npm-debug.log*
planit_client/yarn-debug.log*
planit_client/yarn-error.log

