#suggestions-box {
	height: 100%;
	min-width: 350px;
	margin-right: 5px;
	display: inline-block;
	background-color: #F2F2F2;
	overflow-y: hidden;

	.suggestions-header {
		height: 35px;
		background-color: #66A9CD;
		line-height: 35px;
		text-align: center;

		.suggestions-title {
			color: #FFFFFF;
			margin-left: 10px;
			font-size: 14px;
			font-family: Roboto, sans-serif;
			font-weight: 500;
		}

		.suggestions-menu {
			float: right;
			min-width: 40px !important;
		}

		.suggestions-filter {
			float: right;
			min-width: 40px !important;
		}
	}
}

.empty-suggestions {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

.suggestions-list {
	height: calc(100% - 35px);

	.list-container {
		height: 100%;
		width: 350px;
		overflow-y: scroll;
	}
}

.card-wrapper {
	margin: 5px;
}
