#suggestions-box {
	height: 97%;
	min-width: 325px;
	margin-right: 15px;
	margin-left: 10px;
	display: inline-block;
	background-color: #F2F2F2;
	overflow-y: hidden;
	box-shadow: 4px 4px 4px #BDBDBD;

	.suggestions-header {
		height: 35px;
		background-color: #8ACDF1;
		line-height: 35px;
		text-align: center;

		.suggestions-title {
			color: #FFFFFF;
			margin-left: 10px;
			font-size: 14px;
			font-family: Roboto, sans-serif;
			font-weight: 500;
		}

		.suggestions-menu {
			float: right;
			min-width: 40px !important;
		}

		.suggestions-filter {
			float: right;
			min-width: 40px !important;
		}
	}
}

.fa fa-filter {
	text-shadow: 0 0 10px grey;
}

.empty-suggestions {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

.suggestions-container {
	height: calc(100% - 35px);

	.suggestions-body {
		display: flex;
		height: 100%;
		overflow-y: scroll;

			.suggestions-list {
				width: 100%;
			}
	}
}

.card-wrapper {
	margin: 15px;
}
