.card {
	margin: 0px;
}

.item-card {
	flex-direction: row;

	.card-header {
		height: 36px;

		.item-title {
			padding-left: 10px;
			color: #000000;
		}
	} 

	.card-body {
		.time-edit {
			display: inline-block;
			flex-direction: column;
			width: 50%;

			.time-label {
				font-size: 13px;
				line-height: 30px;
				margin-left: 5px;
			}

			.add-time {
				border: none;
			}
		}
	}
}

.edit-icon {
	min-width: 30px !important;
}

.item-icon {
	float: right;
	min-width: 40px !important;
}