.card {
	margin: 0px;
}

.item-card {
	flex-direction: row;

	.card-header {
		height: 36px;

		.item-title {
			padding-left: 10px;
			color: #000000;
			
		}
	} 

	.card-body {
		.time-edit {
			display: inline-block;
			flex-direction: column;
			width: 50%;

			.time-label {
				font-size: 13px;
				line-height: 30px;
				margin-left: 5px;
			}

			.add-time {
				border: none;
			}
		}
	}
}

.edit-icon {
	min-width: 30px !important;
}

.item-icon {
	float: right;
	min-width: 40px !important;
}

div#imageContainer {
    vertical-align: center;
    horizontal-align: right;
    display: table-cell;
    padding-top: 5px;
}

.item-card2 {
	flex-direction: column !important;
	display: flex;
	align-items: right;
	flex-flow: column wrap;

	.card-header2 {
		width: 240px;

		.item-title2 {
			padding-left: 10px;
			color: #000000;
			white-space: nowrap;
		    text-overflow: ellipsis;
		    width: 240px;
		    display: block;
		    overflow: hidden;
		}	
		.card-body2 {
			font-size: 11px;
			display: flex;
			flex-direction: row !important;
			padding-left: 10px;
			flex-flow: wrap;
		}
	
	} 
}

.textrow {
	width: 240px;
	height: 16px;
	padding: 0px;
}


