input[type=text] {
	border: 4px solid #B6D6E7 !important;
	border-radius: 75px !important;
	padding-left: 20px !important;
	background-color: rgba(255, 255, 255, .85) !important;
	font-weight: 200;
	height: 2.5rem !important;
}

input[type=text]:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.name_input {
	width: 50vw !important;
	margin-left: 20% !important;
	margin-top: 5% !important;
}

.multi_input {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.other_input {
	width: 50% !important;
	margin: 10px !important;
}

button:focus{
  	background-color: #B6D6E7 !important;
}
