.suggestion_item {
	padding: 4px;
	text-align: left;
}

.suggestion_icon {
	margin-right: 8px;
}

.onboarding {
	height: 90vh;
	background: url('../../img/road_trip_compressed.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	border-bottom: 6px solid #B6D6E7;
}

.onboarding_slider {
	height: 88%;
	width: 80vw;
	margin: auto
}

.name_wrapper {
	height: 70vh;
	line-height: 30vh;
	text-align: center;
}

.slide_title {
	color: #828282;
	font-family: 'Source Sans Pro';
	font-size: 32px;
	margin-bottom: 10px;
}

.slick-dots {
	position: fixed;
	bottom: 3%;
	left: 0%;
}

.slide {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	height: 70vh;
}

.scrollable {
	overflow-y: auto;
	overflow-x: auto;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80vw;
}

.button_container {
	border-radius: 75px !important;
	color: white;
	width: 130px;
	text-align: center;
	margin: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add {
	border: 4px solid #8ACDF1 !important;
	background-color: #8ACDF1 !important;
}

.add:hover {
	border: 4px solid #6599B5 !important;
	background-color: #6599B5 !important;
}

.start-onboarding-button {
	border: 4px solid #6FCF97 !important;
	background-color: #6FCF97 !important;
}

.start-onboarding-button:hover {
	border: 4px solid #56A677 !important;
	background-color: #56A677 !important;
}

.start-onboarding-button-disabled {
	border: 4px solid rgba(111,207,151, .2) !important;
	background-color: rgba(111,207,151, .25) !important;
}

.button_container:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.no_outline:focus {
	outline: none;
}

.start_background {
	height: 100vh;
	background: url('../../img/globe_compressed.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.buttons {
	display: flex;
	justify-content: center;
}

.button_box {
	border-radius: 75px;
	background-color: rgba(182,214,231, .9);
	border: 4px solid #B6D6E7; 
	color: white;
	width: 130px;
	text-align: center;
	cursor: pointer;
	margin-left: 40px;
	padding-top: 6px;
	padding-bottom: 6px;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button_box:hover {
	border: 4px solid #97BBCF; 
	background-color: #97BBCF;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.start_input {
	width: 60vw !important;
}

.city_input {
	display: flex;
	align-items: center;
}

.titles {
	margin-left: 15vw;
	margin-top: 17vh;
	color: white;
}

.titles {
	line-height: 55px;
	display: table;
	background-color: #f56764e8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}

.big_title {
	font-size: 72px;
	font-weight: bold;
	padding-top: 15px;
}

.subtitle {
	font-size: 48px;
}

.small_title {
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 15px;
}
