
#suggestions-box {
	min-height: 500px;
	margin-right: 5px;
	width: 31%;
	float: left;
	display: inline-block;
	background-color: #F2F2F2;
}

.suggestions-header {
	height: 35px;
	justify-content: space-between;
	background-color: #66A9CD;
	line-height: 35px;
}

.suggestions-title {
	color: #FFFFFF;
	margin-left: 10px;
	font-size: 14px;
}

.card-wrapper {
	margin: 5px;
}