#map-container {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: #8ACDF1;
	overflow-y: hidden;
}
.pin-title {
	color: #000000;
}

.toggle-pin {
	color: #FFFFFF;
}
.itinMarker {
	color: #FFFFFF
}
