input[type=text] {
	border: 4px solid #B6D6E7 !important;
	border-radius: 75px !important;
	background-color: rgba(255, 255, 255, .85) !important;
	font-weight: 200;
	padding: 0px !important;
	padding-left: 10px !important;
	margin: 0px !important;
	box-sizing: border-box !important; 
}

input[type=text]:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.name_input {
	width: 86% !important;
	display: inline-block;
}

.multi_input {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 65vw;
}

.other_input {
	width: 40vw !important;
}

button:focus{
  	background-color: #B6D6E7 !important;
}

.delete {
	color: white;
	margin: 10px;
}

.delete:hover {
	cursor: pointer;
	text-shadow: 0 0 10px grey;
}

.delete_disabled {
	color: #ffffff4d;
	margin: 10px;
}

.delete_div { 
	width: 10px;
}

.delete_div:hover {
	cursor: pointer;
}
